@import "styles/theme";

.tile {
    margin: 0;

    border: 1px solid var(--lightgray);

    display: inline-block;
    width: 1.2em;
    height: 1.5em;

    box-sizing: border-box;

    background-color: var(--primaryVeryLight);

    input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        border: none;
        background-color: transparent;

        text-align: center;
    }
}

.tile:focus-within {
    background-color: var(--secondaryLight);
    font-weight: 600;
}