@import "styles/theme";

.editor {
    padding: 1em;
    width: 100%;

    border: 2px solid var(--primaryVeryDark);
    background-color: var(--primaryDark);

    overflow-x: scroll;
    text-align: center;
}

.editor-row {
    white-space: nowrap;
    display: inline-block;
}