* {
    --primary: #234DDA;
    --primaryDark: #1B3BA7;
    --primaryLight: #6F8BE8;
    --primaryPrettyLight: #D1DAF8;
    --primaryVeryDark: #060E27;
    --primaryVeryLight: #F6F8FE;

    --secondary: #DAB123;
    --secondaryDark: #A7871B;
    --secondaryLight: #E8CD6F;

    --lightgray: #D6D6D6;
}