@import "styles/theme";
@import "styles/sizes";

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-bottom: $runnerHeight;
}

.control-output-outer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $runnerHeight;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2em;

    .control-output-container {
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        background-color: var(--primaryPrettyLight);

        @media (min-width: $sizeAdjustThreshold) {
            width: 80%;
        }

        @media (max-width: $sizeAdjustThreshold) {
            width: 100%;
        }

        .control {
            flex: 1;
        }

        .output {
            flex: 4;
        }
    }
}