@import "styles/theme";

.stack-cont {
    padding: 1em;

    border: 2px solid var(--primaryVeryDark);

    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}

.stack-val-cont {
    width: 100%;
    height: 7em;
    margin-top: 1em;

    border: 1px solid var(--primaryVeryDark);

    overflow-y: scroll;
}