@import "styles/theme";

.stackblock {
    width: 100%;
    height: 1.8em;
    position: relative;

    box-sizing: border-box;

    border: 1px solid var(--primaryVeryDark);
    background-color: var(--primaryVeryLight);
    padding: 0.25em;

    color: var(--primaryVeryDark);
    text-align: center;
}

.asciitext {
    position: absolute;
    right: 0.25em;
    bottom: 0.25em;

    color: gray;
}